body{
  font-size: 30px;
}
select{
  font-size: 30px;
  border: 1px solid gray;
}
.ansbox{
  display:flex;
  flex-direction: column;
  width:98%;
  border:1px solid gray;
  border-radius: 10 10 10 10px;
}
.a_rowbox{
  display:flex;
  flex-direction: row;
  width:70%;
  border-bottom: 1px solid lightgray;
  margin-left: 50px;
}
.a_colbox{
  border-radius: 50px;
  margin: 20px;
    text-align: left;
    margin: 10px;
    width:2000px;
      display: flex;
      justify-content: center;
        border:3px solid white;
}
.isSelected{
  border:3px solid red;
}
a.a_answer{
  text-decoration: none;
  color:black;
}
div{
  //border:1px solid black;
}
.hooter{
  display: flex;
  justify-content: center;
}
#button{
  background: linear-gradient(#8bf,#bcf);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
  margin: 40px;
}
#button.pressed{
  box-shadow: 5px 0px 10px gray;
  margin-top: 45px;
}
#button a {
  font-weight: bold;
  text-decoration:none;
}
#button #label{
  color: #007;
  font-size: 30px;
  margin:20px 40px;
}
